@use '../utilities' as *;

header {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);

  @include flex(row, center, space-between);

  border-bottom: 30px solid rgb(44, 42, 116);

  .logo {
    @include open-text(14px, 800, 24px, 1);

    text-transform: uppercase;
    text-decoration: none;
    color: #e44d16;
  }

  .navbar {
    li {
      @include muli-text(12px, 500, 24px, 0.4);

      color: rgb(44, 42, 116);
    }
  }
}

.main-title {
  margin-top: 2rem;
  margin-bottom: 1rem;

  @include muli-text(20px, 800, 24px, 0.7);

  color: rgb(44, 42, 116);
  text-align: center;
}

.container {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 2vw);
  margin-inline: auto;
  max-width: 1200px;

  @include flex(row, center, center);

  flex-wrap: wrap;
  gap: calc(1rem + 3vw);

  .item {
    min-width: 250px;
    max-width: 280px;

    .img-container {
      transition: transform 0.5s;

      .img {
        width: 100%;
        max-height: 389px;
      }
    }

    .like-container {
      @include flex(row, center, space-between);

      padding: 0.5rem;

      .title {
        @include muli-text(14px, 500, 24px);

        flex-basis: 75%;
      }

      .icon-heart {
        font-size: calc(1rem + 0.2vw);
        color: red;
        cursor: pointer;
        transition: transform 0.5s;
      }

      .likes {
        @include muli-text(14px, 500, 32px);
      }
    }

    .button {
      margin-top: 0.5rem;
      padding: 0.5rem 0.8rem 0.3rem;
      text-align: center;
      cursor: pointer;
      border: none;

      @include muli-text(12px, 800, 24px);

      text-transform: uppercase;
      color: #fff;
      background: rgb(44, 42, 116);
      border-radius: 8px;
      transition: background 0.5s, color 0.5s;
    }
  }
}

footer {
  padding: calc(1rem + 0.8vw) calc(1.5rem + 4.5vw);
  margin-top: 2rem;
  background: rgb(44, 42, 116);

  .text-footer {
    @include muli-text(12px, 500, 32px);

    color: #fff;
  }
}
