@use '../utilities' as *;

.modal {
  background: #fff;
  padding: calc(1.5rem + 0.3vw);
  max-width:calc(200px + 20vw);
  max-height:calc(100% - 70px);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 0s;
  z-index: 300;

  .fa-times {
    float: right;
    font-size: calc(2rem + .5vw);
    cursor: pointer;
  }

  .image-container {
    margin-inline: auto;
    min-width: 180px;
    max-width: 250px;
    .image {
      width: 100%;
    }
  }

  .modal-title {
    @include muli-text(24px, 700, 24px);
    text-align: center;
  }

  .dsc-container {
    padding: 0 1rem;

    .dsc {
      text-align: center;
      @include muli-text(16px, 500, 24px);
    }
  }

  .comments {
    text-align: center;

    h3 {
      @include muli-text(16px, 700, 24px);
    }

    .comment {
      @include muli-text(14px, 500, 24px);
    }
  }

  .form {
    text-align: center;

    h4 {
      @include muli-text(16px, 700, 24px);
    }

    .list-input {
      .form-item {
        input {
          @include muli-text(14px, 500, 24px);
          margin: 0.5rem 0;
        }

        button {
          margin-top: 0.5rem;
          padding: 0.3rem 0.8rem;
          text-align: center;
          cursor: pointer;
          @include muli-text(12px, 700, 24px);
          background: blue;
          color: #fff;
          border-radius: 8px;
        }
      }
    }
  }
}

.modal.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  @include flex(row, center, center);
  transition: opacity 1s, transform 1s, visibility 0s;
  background: rgba($color: #8c9197, $alpha: 0.5);
  z-index: 200;
}

.overlay.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
